@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}
body{
	background: pink;
	background-image: url('img/theaq.png');


}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

    
}

.card{
	background: white;
	width: 220px;
	height:500px;
	margin: 10px;
	border-radius: 15px;
}
.card-image{
	background-color: magenta;
	height: 170px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;

}

.car-1{
	background-image: url('img/jave.jpg');
}
.car-2{
	background-image: url('img/jave2.jpg');
}
.car-3{
	background-image: url('img/gun.jpg')
}
.card p{
	padding: 10px;
}
.card a{
	background-color: pink;
	color: white;
	padding: 15px 20px;
	display: block;
	text-align: left;
	margin: 20px 50px;
	text-decoration:none;

}

.card:hover{
background-color: pink;
color: white;
cursor: pointer;
transform: scale(1.03);
transition: all Is ease;
}




